#three{
	position: absolute;
	left:0;
	top:0;
	width:500px;
	height:500px;
}
.Main-Canvas{
	position: absolute;
	left:0;
	top:0;	
	width:100%;
	height:100%;
}
#three > canvas{
	width:500px;
	height:500px;	
}
